
# 项目名称
DEFINE_PROJECT_NAME=Pandas

# 编译哪些版本
DEFINE_COMPILE_MODE=re,pre

# 压制发布产物时的语言配置
DEFINE_PUBLISH_LANG=gbk,big5

# 崩溃上报 APPID
# 此选项当前仅允许熊猫模拟器官方发布版使用
DEFINE_CRASHRPT_APPID=

# 崩溃上报的公钥
# 此选项当前仅允许熊猫模拟器官方发布版使用
DEFINE_CRASHRPT_PUBLICKEY=

# 远程符号仓库地址
DEFINE_REMOTE_SYMBOLS_URL=https://github.com/PandasWS/Symbols.git

# 归档符号文件后是否进行提交
# 	0 - 总是提交
# 	1 - 必须是熊猫模拟器正式版才能提交
# 	2 - 必须配置了正确的崩溃上报 APPID 才能提交
DEFINE_SYMBOLS_COMMIT=3

# 自动提交符号信息时显示的仓库名称
DEFINE_SYMBOLS_SOURCE=PandasWS/Pandas
